In [1]:
import javalang
import numpy as np
from javalang.tree import *
from queue import LifoQueue, Queue
import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.utils.rnn as rnn_utils
from torch.utils.data import DataLoader, TensorDataset, Dataset
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('dist/train_df.csv')
df

,0,1,2,3,4,5,6,7,8,9,...,5191,5192,5193,5194,5195,5196,5197,5198,5199,bug
0,4209,517,3572,4285,458,1296,2172,5149,2447,21,...,0,0,0,0,0,0,0,0,0,1
1,2789,4694,6162,4694,5725,1934,7824,736,4370,8031,...,0,0,0,0,0,0,0,0,0,0
2,2789,707,707,7671,199,6959,3555,3705,4595,3928,...,0,0,0,0,0,0,0,0,0,0
3,2236,2187,1490,2187,2187,2187,2187,2123,1777,1923,...,0,0,0,0,0,0,0,0,0,1
4,7301,4080,7163,4080,1777,2123,6353,1591,1591,5226,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2684,4378,7560,4367,7560,5327,3183,5543,3898,1934,1934,...,0,0,0,0,0,0,0,0,0,0
2685,3062,5891,1591,1591,5359,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2686,5502,7791,6657,7791,5342,1591,1591,6837,6837,668,...,0,0,0,0,0,0,0,0,0,0
2687,7948,3768,3768,1807,4540,2123,3876,3876,2276,4214,...,0,0,0,0,0,0,0,0,0,0
2688,1339,1591,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0